body {
    background-color: black;
}

.container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a:active {
    color: white;
}

a:hover {
    color: grey;
}

a:visited {
    color: purple;
}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
}