body {
    background-color: black;
}

.container  {
    color: white;
    width: 500px;
    margin: 0 auto;
}

a:active {
    color: white;
    
}

a:hover {
    color: grey;
}

a:visited {
    color: purple;
}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
}
